@import url('https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic');
@import url('https://fonts.cdnfonts.com/css/clash-display');

html,
body {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #d6d6d6;
}

::-webkit-scrollbar {
    width: 4px;
    height: 1px;
}

::-webkit-scrollbar-track {
    border-radius: 24px;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #d6d6d6;
    border-radius: 24px;
}